<div style="height:15vh;overflow-y:scroll" class="row @(string.Join(' ',Attributes.Where(a=>a.Key=="class").Select(a=>a.Value)))">
    <select @bind="_selectedStepName" @bind:after="SelectedStepChanged" style="height:30%" class="form-control col-md-2">
        <option></option>
        @foreach (var step in PipelineStepDefinition.PossibleSteps)
        {
            <option selected="@(step.Name==_selectedStep?.Name)" value="@step.Name">@step.Name</option>
        }
    </select>
    @if (_selectedStep != null)
    {
        @foreach (var param in _selectedStep.Value.ParamInfoByIndex)
        {
            @if (param.Value.ParamType == ParamType.Integer || param.Value.ParamType == ParamType.Double)
            {
                <div class="col-md-3">
                    <label class="col-form-label">@param.Value.Name (Used: @(_parameters[param.Key].Value))</label>
                    <input @bind="_parameters[param.Key].RawInput"
                    @bind:after="()=>ParameterChanged(param.Key,param.Value)"
                           type="number"
                           class="form-control" />
                </div>
            }
        }
    }
    <button style="height:30%" @onclick="@AddFilter" class="col-md-2 btn btn-primary m-3">Add Step</button>
    <button style="height:30%" @onclick="@RemoveStep" class="col-md-2 btn btn-danger m-3">Remove Step</button>
    <button style="height:30%" @onclick="@Clear" class="col-md-2 btn btn-danger m-3">Clear</button>
</div>
